body {
    background-color: black;
    height: auto;
    width: auto;
    font-size: auto;
    text-size: auto;
    text-align: center;
}

h1, h2 {
    color: Gray;
}

p {
    color: White;
    text-align: left;
}